@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1{
    padding-top: 0px;
    margin-top: 50px;
    
}
 .btngroup{
     display: flex;
     margin-left: 450px;
 }
.Register {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border: 1px solid rgb(78, 78, 78);
    outline: none;
}
.Register:hover{
    box-shadow: 0px 1px 2px grey;
}

.Login {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border: 1px solid rgb(78, 78, 78);
    outline: none;
}
.Login:hover{
    box-shadow: 0px 1px 2px grey;
}

ul {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #eeeeee;
   color: black;
   text-align: center;
   display: flex;
  
   justify-content:  center;
   align-items: center;
}
ul > * {
    margin: 10px 20px;
}

ul li a{
     
    line-height: 15px;
    margin: 2px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    color: black;
    align-items: center;
    

}

a:hover{
    
    color: rgb(80, 185, 237);
}
/* div.drag-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
    padding-left: 40%;
    flex-direction: column;
    margin: 100px;
    border-radius: 20px;
    border-style: dotted;
    
    
    

}
.drag-area{
    max-width: 650px;
    background: #e3e0c2;
    

} */
.preview{
    margin: 50px;
    border-radius: 10px;
}
.drag-area{
    border: 3px solid gray;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-style: dashed;
    border-radius: 20px;
}

.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.85  ;
}
.upload{
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #007bef;
    border: none;
    outline: none;
    transition: 0.2s;
    color: aliceblue;


}
.upload:hover{
    box-shadow: 0px 1px 2px grey;
}
.icon{
    font-size: 40px;
    height: 60px;
    
}
.search{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.search input{
    flex:0.8;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border: 1px solid gray;
    outline: none;
    
}
.search input:hover{
    box-shadow: 0px 1px 2px grey;
}
.search button:hover{
    box-shadow: 0px 1px 2px grey;
}
.search button{
    flex: 0.2;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border: 1px solid gray;
    outline: none;
}

.uploader{
    background-color: #007bef;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}
