<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-cont"> 
        <h2 style="margin-bottom: 5px;" class="login-title">Login</h2>
        <form action="" method="POST" class="form-login">
            {% csrf_token %}
            <div class="input-label">
                <label for="Mobile">Mobile</label>
                <input type="text" placeholder="Enter Mobil Number" name="mobile">
            </div>
            <div class="input-label">
                <label for="Mobile">One Time Password</label>
                <input type="number" placeholder="Enter OTP" name="otp">
            </div>
            <p class="inst">You will recieve 6 digit otp on your registered mobile number</p>
            <div class="group-btn">
                <button class="btn-primary">Send OTP </button>
                <button class="btn-primary">Verfiy</button>
            </div>
            <p style="font-size: 14px;margin-top:20px;">Dont have an account ? <a href="/register" style="text-decoration: none;font-weight:bold; color:#007bef;">Register</a></p>
        </form>
    </div>
</body>
</html>